<div class="login-status-header">
  <div class="login-status-content">

    <!-- USER INFO -->
    <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
      Welcome, <span class="user-name">{{ userFullName }}</span>
    </div>

    <!-- ACTIONS -->
    <div class="actions">

      <!-- NOT LOGGED IN -->
      <a *ngIf="!isAuthenticated"
         routerLink="/login"
         class="btn login-btn">
        Login
      </a>

      <!-- LOGGED IN -->
      <button *ngIf="isAuthenticated"
              class="btn logout-btn"
              (click)="logout()">
        Logout
      </button>

      <!--add link for Vip Members-->
      <button routerLink="/members" class="security-btn ml-l">Member</button>

      <!-- add button for orderHistory tracking-->
      <button routerLink="/order-history" class="security-btn ml-l">Orders</button>


    </div>

  </div>
</div>