<div class="main-content">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <!-- if no products found -->
        <div
          *ngIf="!products || products.length === 0"
          class="col-12 text-center"
        >
          <p>No products found.</p>
        </div>

        <!-- loop over products -->
        <div class="col-sm-6 col-lg-3" *ngFor="let product of products">
          <div class="card text-center">
            <div class="card-body">
              <a [routerLink]="['/products', product.id]">
                <img
                  [src]="product.imageUrl"
                  [alt]="product.name"
                  class="img-responsive mb-3"
                />
              </a>
             <!-- add to cart-->
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.unitPrice | currency }}</p>
              <button (click)="addToCart(product)" class="btn btn-primary">Add to Cart</button>

            
            </div>
          </div>
        </div>
      </div>
      <!-- pagination controls -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">
                <ngb-pagination
                  [(page)]="thePageNumber"
                  [pageSize]="thePageSize"
                  [collectionSize]="theTotalElements"
                  [maxSize]="2"
                  [boundaryLinks]="true"
                  (pageChange)="listProducts()"
                >
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of pagination controls -->
      <!-- Page size selector make postition right -->

      <div class="col-md-3 mt-2" style="text-align: right">
        <span class="mr-2">Page Size</span>

        <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
          <option selected="true">5</option>
          <option>10</option>
          <option>20</option>
          <option>50</option>
        </select>
      </div>
      <!-- End page size selector -->
    </div>
  </div>
</div>
